<div class="offset-by-one six columns">
	<h1 class="subtitle">Profile</h1>
	<p class="bodytext2"><strong>Neighborhood:</strong> <%= @schedule.neighbourhood.capitalize %></p>
	<p class="bodytext2"><strong>Monday:</strong> <%= @schedule.mon.capitalize  %></p>
	<p class="bodytext2"><strong>Tuesday:</strong> <%= @schedule.tue.capitalize  %></p>
	<p class="bodytext2"><strong>Wednesday:</strong> <%= @schedule.wed.capitalize  %></p>
	<p class="bodytext2"><strong>Thursday:</strong> <%= @schedule.thu.capitalize  %></p>
	<p class="bodytext2"><strong>Friday:</strong> <%= @schedule.fri.capitalize  %></p>
	<p class="bodytext2"><strong>Saturday:</strong> <%= @schedule.sat.capitalize  %></p>
	<p class="bodytext2"><strong>Sunday:</strong> <%= @schedule.sun.capitalize  %></p>
	<br>
	
	<%= link_to "Edit Schedule", edit_schedule_path, :class => "button" %> 

	<div>
		<%= mail_to @user.email, "test", :subject => "test", :body => "this is a test" %> 
	</div>	
</div>

<div class="nine columns">
	<%= render partial: "users/schedule", locals: { studios: @studios, user: @schedule, login: @user } %>
</div>
<br class="clearfix">
<br>
<br>

