<h1>Profile</h1>

<h3>Personalized Search</h3>

<p>Neighbourhood: <%= @schedule.neighbourhood %></p>
<br>
<p>Monday: <%= @schedule.mon %></p>
<p>Tuesday: <%= @schedule.tue %></p>
<p>Wednesday: <%= @schedule.wed %></p>
<p>Thursday: <%= @schedule.thu %></p>
<p>Friday: <%= @schedule.fri %></p>
<p>Saturday: <%= @schedule.sat %></p>
<p>Sunday: <%= @schedule.sun %></p>

<%= link_to "Create/Edit schedule", edit_schedule_path %> 

<div>
<%= render partial: "users/schedule", locals: { studios: @studios, user: @schedule } %>
</div>