<h1>Yoga App</h1>

<h3>Choose a neighbourhood!</h3>
<%= button_to "Union Square", index_path, method: :get %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?center=Crown+Heights,NY&size=450x300&sensor=false&zoom=14" %> 

<%= form_for @search, url: search_path do |f| %>
<%= f.select("search[neighbourhood]", options_for_select([[], ["Crown Heights"], ["Union Square"]])) %>

<%= f.submit("Search") %>
<% end %>

