<h2 class="subtitle2">Welcome! Please enter you studio's information</h2>
<div class="offset-by-six">
	<%= form_for @address, url: create_address_path do |f| %>
 
		<div>
			<%= f.text_field :name, :placeholder => "Name" %>
		</div>

		<div>
			<%= f.select(:neighbourhood, options_for_select([["Neighbourhood"], ["crown heights"], ["union square"]])) %>
		</div>

		<div>
			<%= f.text_field :address, :placeholder => "Address"  %>
		</div>

		<div>
			<%= f.label("Description: ") %>
		</div>
	
		<div>
			<%= f.text_area :description %>
		</div>

		<div> 
			<%= f.submit("Submit") %>
		</div>
	<% end %>
</div> 