<div class="offset-by-six">
	<h2 class="subtitle">New Class</h2>

	<%= form_for @class, url: create_yogaclass_path do |f| %>
		<div>
			<%= f.text_field :title, :placeholder => "Title" %>
		</div>

		<div>
			<%= f.text_field :time, :placeholder => "Time" %>
		</div>

		<div>
			<%= f.select(:day, options_for_select([[], ['monday'], ['tuesday'], ['wednesday'], ['thursday'], ['friday'], ['saturday'], ['sunday']])) %>
		</div>

		<div>
			<%= f.text_field(:cost, :placeholder => "Cost") %>
		</div>

		<%= f.submit("Add class") %>
	<% end %>
</div>