<h1>New Class</h1>

<%= form_for @class, url: create_yogaclass_path do |f| %>
<div>
<%= f.label(:time) %>
<%= f.text_field(:time) %>
</div>
<div>
<%= f.label(:day) %>
<%= f.select(:day, options_for_select([[], ['monday'], ['tuesday'], ['wednesday'], ['thursday'], ['friday'], ['saturday'], ['sunday']])) %>
</div>
<div>
<%= f.label(:cost, "Cost: $") %>
<%= f.text_field(:cost) %>
</div>

<%= f.submit("Add class") %>
<% end %>