<!DOCTYPE html>
<html>
<head>
  <title>YogaApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
	<div>
	<%= render 'layouts/menu' %>
	<%if notice || alert %>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<%end%>
	</div>	
	
	<%= yield %>
	</div>
</body>
</html>
 